nav {
    color: whitesmoke;
}

div#container {
    display: flex;
    flex-direction: column;

    app-sidebar {
        margin: 1vh 0;
        display: flex;
        flex-direction: column;

        align-items: center;
    }

    div#main {
        margin: 2vw;
    }
}