<nav class="navbar navbar-dark bg-dark sticky-top">
    <h2>hrmni</h2>
</nav>
<div class="card">
    <div class="card-body">
        <h1>Spotify Metrics App</h1>
        <p>
            This app displays metrics about your Spotify account and your listening history and habits.
            Click ‘login’ to sign in with your Spotify account and view the metrics about your account.
            The metrics will be viewable in either graph or text format.
        </p>
        <button class="btn btn-primary"><a href="/login">Login Here</a></button>
    </div>
</div>